<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdmService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49590/AdmService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAdmService" contract="ServiceReference.IAdmService"
                name="BasicHttpBinding_IAdmService" />
        </client>
    </system.serviceModel>
</configuration>